html {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to bottom, #222 0%, #111 100%) !important;
  height: 100%;
  font-family: 'Arial', sans-serif;
}
.header {
  background-image: linear-gradient(to bottom, #1f1f1f 0%, #1a1a1a 100%);
  border-bottom: 1px solid #111 !important;
  color: #fff;
  overflow: auto;
}
.header img {
  height: 30px;
  padding-top: 10px;
  float: left;
}
.header a {
  color: #7986cb;
  text-decoration: none;
  display: block;
  padding: 10px;
  float: left;
}
.header a.active {
  color: #FF9800;
}
.creep-designer .panel {
  width: 40%;
  margin: 5%;
  float: left;
  background-color: #222;
  color: #ccc;
  box-sizing: border-box;
  padding: 10px;
}
.creep-designer .panel button {
  background-color: #3f51b5;
  color: #fff;
  border-radius: 2px;
  border: 0;
}
.creep-designer .panel svg {
  float: right;
}
.creep-designer .panel textarea {
  width: 100%;
  height: 50px;
}
.creep-designer .panel .body {
  float: left;
}
.creep-designer .panel .body tbody tr td:nth-of-type(3) {
  text-align: center;
}
.creep-designer .panel .body tbody tr td:nth-of-type(4) {
  color: #ffe56d;
  text-align: center;
  width: 30px;
}
.buildingPlanner .spawn {
  background-image: url(/img/screeps/spawn.png);
}
.buildingPlanner .extension {
  background-image: url(/img/screeps/extension.png);
}
.buildingPlanner .link {
  background-image: url(/img/screeps/link.png);
}
.buildingPlanner .road {
  background-image: url(/img/screeps/road.png);
}
.buildingPlanner .constructedWall {
  background-image: url(/img/screeps/constructedWall.png);
}
.buildingPlanner .rampart {
  background-image: url(/img/screeps/rampart.png);
}
.buildingPlanner .tower {
  background-image: url(/img/screeps/tower.png);
}
.buildingPlanner .observer {
  background-image: url(/img/screeps/observer.png);
}
.buildingPlanner .powerSpawn {
  background-image: url(/img/screeps/powerSpawn.png);
}
.buildingPlanner .extractor {
  background-image: url(/img/screeps/extractor.png);
}
.buildingPlanner .terminal {
  background-image: url(/img/screeps/terminal.png);
}
.buildingPlanner .lab {
  background-image: url(/img/screeps/lab.png);
}
.buildingPlanner .container {
  background-image: url(/img/screeps/container.png);
}
.buildingPlanner .nuker {
  background-image: url(/img/screeps/nuker.png);
}
.buildingPlanner .storage {
  background-image: url(/img/screeps/storage.png);
}
.buildingPlanner .controls {
  width: 30%;
  margin: 5%;
  float: left;
  background-color: #222;
  color: #ccc;
  box-sizing: border-box;
  padding: 10px;
}
.buildingPlanner .controls .brushes {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.buildingPlanner .controls .brushes li {
  border: 1px solid #ccc;
}
.buildingPlanner .controls .brushes li img {
  width: 20px;
}
.buildingPlanner .map {
  width: 1000px;
  float: left;
}
.buildingPlanner .map .cell {
  width: 18px;
  height: 18px;
  float: left;
  border: 1px solid #000000;
  cursor: pointer;
  background-size: contain;
  background-color: #222;
}
.buildingPlanner .map .cell.wall {
  background-color: #000;
}
.buildingPlanner .map .cell.swamp {
  background-color: #292b18;
}
.buildingPlanner .map .cell.hover {
  border-color: #f1c40f;
}
